li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ededed;
    padding: 16px;
    position: relative;
    transition: background-color 0.3s ease;
}

.row {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
}

input[type="checkbox"] {
    margin: 0 10px;
    padding: 0;
    width: 20px;
    height: 20px;
}

.todo-text-container {
    flex: 1;
    padding: 0 10px;
    cursor: pointer;
}

.text, .textComplete {
    font-size: 24px;
    transition: color 0.3s ease;
    word-break: break-all;
}

.textComplete {
    text-decoration: line-through;
    color: #d9d9d9;
    font-weight: normal;
}

.editInput {
    font-size: 24px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.editInput:focus {
    border-color: #999;
}

.deleteTodo {
    background: none;
    border: none;
    font-size: 24px;
    color: #000;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-left: 10px;
    padding: 0 10px;
}

li:hover .deleteTodo {
    opacity: 1;
}

button:hover {
    color: red;
}
